* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  width: 100%;
  height: 100%;
  font-family: 'Philosopher', Poppins;
}

/* This Section is for the Nav Bar*/
.nav-bar-container {
  font-size: medium;
  display: flex;
  padding: 10px;
  height: 100px;
  width: 100%;
  background: transparent;
  transition: .5s;
  backdrop-filter: blur(15px);
  justify-content: center;
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + section {
  padding-top: 120px;
}
.nav-bar-container:hover {
  box-shadow: 0px 5px gray;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar .logo {
  margin-right: 800px;
}
.nav-links {
  display: flex;
}
.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px 20px;
}

/* this section is for the main content*/

section {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

section .title{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}
.title h1 span {
  font-size: 50px;
  font-weight: bold;
}
.names {
  display: flex;
  justify-content: center;
  width: 100%;
}
.names .fields {
  width: 100%;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

fieldset {
  padding: 10px;
  margin: 5px 10px;
}

legend {
  font-size: medium;
}

input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}
textarea {
  border: none;
  outline: none;
  padding: 5px;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttons button {
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-size: medium;
  transition: .3s;
}
.buttons button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.confirmation {
  padding: 10px 15px;
}



/* This Section is for the Footer*/
footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-top: 155px;
  width: 100%;
  height: 250px;
  background-color: rgb(241, 234, 234);
}
.links {
  display: flex;
  justify-content: center;
  
}
footer .links ul {
  display: flex;

}
footer .links ul li{
  list-style: none;

}
footer .links ul li a {
  text-decoration: none;
  color: black;
  margin: 20px;
  font-size: large;
  transition: .2s;
}
footer .links ul li a:hover {
  text-decoration: underline;
}

.socials-links {
  display: flex;
  justify-content: center;
}
.socials-links a {
  margin: 0px 10px;
  font-size: 30px;
  color: black;
  transition: .3s;
}
.socials-links a:hover {
  transform: scale(1.1);
}
.socials-links a:hover .fa-facebook {
  color: blue;
}
.socials-links a:hover .fa-youtube {
  color: red;
}
.socials-links a:hover .fa-discord {
  color: blue;
}
.socials-links a:hover .fa-instagram {
  color: rgb(182, 95, 110);
}
.socials-links a:hover .fa-tiktok {
  color: black;
}
.socials-links a:hover .fa-twitter {
  color: blue;
}