* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: rgb(235, 235, 235);
  background-image: url(../Contents-LandingPage/img/Backgound\ image\ \(yellow\).jpg);
}
.main-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
.form-container {
  padding: 70px;
  justify-content: center;
  align-items: center;
   width: 900px;
   height: 380px;
   background-color: rgb(255, 255, 255);
   box-shadow: 10px 10px 20px rgb(0, 0, 0);
   border-radius: 150px 0px 0px 150px;
   margin-left: 230px;
   animation-name: form-ani;
   animation-duration: 0.5s; 
   position: relative;
   background: transparent;
   backdrop-filter: blur(10px);
}

@keyframes form-ani {
  0%   {left:100%;}
  100%  {left:0px;}
}

.form-container .buttons {
  text-align: center;
}
.form-container .email {
  margin-bottom: 20px;
}
.form-container p {
  margin-bottom: 10px;
}
p {
  font-size: x-large;
}
button {
  font-size: xx-large;
  width: 350px;
  cursor: pointer;
  transition: 0.1s;

}
button:hover {
  opacity: 0.8;
}
input {
  height: 50px;
  width: 400px;
  font-size: x-large;
  border-radius: 10px;
}
.buttons {
  margin-top: 20px;        
}
.buttons button {
  padding: 5px;
  font-weight: bold;
  background-color: rgb(31, 29, 182);
  color: aliceblue;
  margin-right: 480px;
}
.signup-container a button {
  padding: 5px;
  border: none;
  color: aliceblue;
  background-color: green;
}
.dhaa {
  margin: 20px;
}
h1 {
  font-size: 100px;
  color: rgb(31, 29, 182);
  font-weight: 1000;
  animation-name: h1-anim;
  animation-duration: 0.5s;
  position: relative;
}
@keyframes h1-anim {
  0%   {left:100%;}
  100%  {left:0px;}
}
h2 {
  font-size: 50px;
  animation-name: h2-anim;
  animation-duration: 0.6s;
  position: relative;
}
@keyframes h2-anim {
  0%   {top: 100%;;}
  100%  {top: 0px;}
}
h2 span {
 color: black;
}
.main-title {
  margin-top: 70px;
  margin-left: 50px;
}
.signup-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 480px;
}
.signup-container .dhaa {
  color: rgb(0, 26, 255);
}
form div {
  margin: 5px;
}
.input-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bolder;
}
.input-box {
  border-bottom: 2px solid black;
  width: 400px;
}

.pass {
  display: flex;
  align-items: center;
} 

.pass i {
  font-size: 30px;
  transition: 0.3s;
}
.pass i:hover {
  cursor: pointer;
  opacity: 0.6;
}