* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Philosopher', Poppins;
}

/* This Section is for the Nav Bar*/
.nav-bar-container {
  font-size: medium;
  display: flex;
  padding: 10px;
  height: 100px;
  width: 100%;
  background: transparent;
  transition: .5s;
  backdrop-filter: blur(15px);
  justify-content: center;
  z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + section {
  padding-top: 120px;
}
.nav-bar-container:hover {
  box-shadow: 0px 5px gray;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar .logo {
  margin-right: 800px;
}
.nav-links {
  display: flex;
}
.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px 20px;
}

/* This Section is for the main content*/

section {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.title h1 {
  font-size: 50px;
  text-align: center;
}
.projects {
  display: flex;
  width: 100%;
}
.projects .row .box {
  margin: 100px 10px;
  width: 350px;
  height: 250px;
  
}
.projects .row .box .img img {
  width: 350px;
  height: 250px;

}
.projects .row .box .img {
  overflow: hidden;
  position: relative;
 
}
.grayscale {
  filter: grayscale(100%);
  transition: 0.5s;

}
.img:hover img{
  filter: none;
  transform: scale(1.1);
  cursor: pointer;
}
.projects .row .box .des {
  padding: 5px 0;
}
.projects .row .box .des h2 {
  font-weight: 700;
  font-size: xx-large;
}
.projects .row .box .des p {
  margin-top: 5px;
  font-size: larger;
}


/*This Section is for the footer*/
footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-top: 155px;
  width: 100%;
  height: 250px;
  background-color: rgb(241, 234, 234);
}
.links {
  display: flex;
  justify-content: center;
  
}
footer .links ul {
  display: flex;

}
footer .links ul li{
  list-style: none;

}
footer .links ul li a {
  text-decoration: none;
  color: black;
  margin: 20px;
  font-size: large;
  transition: .2s;
}
footer .links ul li a:hover {
  text-decoration: underline;
}

.socials-links {
  display: flex;
  justify-content: center;
}
.socials-links a {
  margin: 0px 10px;
  font-size: 30px;
  color: black;
  transition: .3s;
}
.socials-links a:hover {
  transform: scale(1.1);
}
.socials-links a:hover .fa-facebook {
  color: blue;
}
.socials-links a:hover .fa-youtube {
  color: red;
}
.socials-links a:hover .fa-discord {
  color: blue;
}
.socials-links a:hover .fa-instagram {
  color: rgb(182, 95, 110);
}
.socials-links a:hover .fa-tiktok {
  color: black;
}
.socials-links a:hover .fa-twitter {
  color: blue;
}